<br/>
<div class="input-group">
    <input type="search" class="form-control" placeholder="Pesquise no site">
    <span class="input-group-btn">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-search"></span> <span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
			<li><a href="#">Eventos</a></li>
			<li><a href="#">Notícias</a></li>
			<li><a href="#">Fotos e vídeos</a></li>
		</ul>
    </span>
  </div>
<br/>
<br/>