@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);


/* CSS para animação */

/*body#site header, body#site #main-menu, body#site #main, body#site footer { display: none;}*/

/* CSS Principal */

html { /*min-width: 400px;*/ }
body{ color: #E6E6E6; background-image: none;  background-color: #2F3238; font-family: 'Roboto Condensed', sans-serif; font-size: 14px; }
ul, ol{ list-style-type: none; }
img{ width: 100%; }
h2 { color: #E6E6E6; background-color: #26292E; padding: 5px; border: 1px solid #3C3F45; }
h3 { color: #E6E6E6; }
h4 { color: #E6E6E6; }
h5 { color: #CCC; }
p { color: #AAA; }
a { color: #E6E6E6; }
label { font-weight: normal; }
a:hover, a:focus, a:active { color: #E6E6E6; }
span.label a { color: #FFF; text-decoration: underline;}
span.label a:hover { cursor: pointer; }
td { text-align: left; }
textarea { border-radius: 0 !important; border: 1px solid #3C3F45 !important;}

.zoom-change { color: #AAA; font-size: 10px; border: 1px solid #3C3F45; width: 150px; padding: 3px; background-color: #2F3238; position: fixed; top: 0; margin-left: 30px; z-index: 999;}
.zoom-change span { font-size: 30px; }

input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #3C3F45 inset !important;
}
input:-moz-autofill {
  -moz-text-fill-color: white;
  -moz-box-shadow: 0 0 0px 1000px #3C3F45 inset !important;
}
input:-o-autofill {
  -o-text-fill-color: white;
  -o-box-shadow: 0 0 0px 1000px #3C3F45 inset !important;
}
input:-khtml-autofill {
  -khtml-text-fill-color: white;
  -khtml-box-shadow: 0 0 0px 1000px #3C3F45 inset !important;
}

#main .row, #news-list, #col-right { background-color: #2F3238; }

#main { min-height: 400px; }

.btn { border-radius: 0; }

#flash-messages { margin-top: 15px; }

.enrollment .left-title { color: #E6E6E6; font-size: 16px; text-align: left; display: block; margin-left: 5px;}
.subevent-list { margin-bottom: 5px; }
.enrollment .info { color: #E6E6E6; text-align: left; display: block; font-size: 12px; margin-left: 5px;}
.enrollment p { color: #E6E6E6; }

.container-fluid, .container{ text-align: center; }
.btn:hover, a, .facebook-link, .youtube-link, .utfpr-link, .utfpr-link img, #main-menu li, #account-menu li, span{ webkit-transition: all .3s ease-in-out;	transition: all .3s ease-in-out; }
.col-bordered{ border: 1px solid #AAA; }
.navbar-toggle{ margin-left: 15px; }
.tooltip{ font-size: 13px; }
.tooltip-inner { max-width: 300px; }
.form-control:focus { border-color: #333; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150,150,150,.6); webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(150,150,150,.6);}

/* Usando #main para nao afetar o painel do admin */

#main .form-control, .modal-content .form-control { color: #E6E6E6; background-color: #26292E;}
#main .form-group i, .modal-content i { color: #7F8289; }
#main input, .modal-content input, #main select { border: 1px solid #3C3F45 !important; border-radius: 0;}
#main .left-inner-addon-group i, .modal-content .left-inner-addon-group i{ border-right: 1px solid #3C3F45; color: #AAA;}
#main .well { border: 0; }



#main .btn-default, header .btn-default, .modal-content .btn-default { color: #AAA; background-color: #26292E; border-color: #3C3F45; border-radius: 0;}
#main .btn-default:hover, header .btn-default:hover, .modal-content .btn-default:hover { background-color: #2F3238; color: #CCC; border-color: #3C3F45; }
#main .dropdown-menu { background-color: #26292E; border-radius: 0; border-color: #3C3F45;}
#main .dropdown-menu a { color: #AAA; }
#main .dropdown-menu a:hover { color: #E6E6E6; background-color: #3C3F45;}

#main .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #E6E6E6; }

#col-right .row:nth-child(1) .col-xs-12 { height: 60px; }

/* Botões */

#main .btn-success, #main .btn-warning, #main .btn-danger, #main .btn-primary { background: #26292E; }

#main .btn-success { color: #5cb85c; }
#main .btn-success:hover { background-color: rgba(60, 118, 61, 0.2); }

/* Fim Botões */



/* Paginação */

#main .pagination>li>a, .pagination>li>span { color: #AAA; background-color: #26292E; border-color: #3C3F45;}
#main .pagination>li:not(.active):not(.disabled)>a:hover { background-color: #3C3F45; color: #E6E6E6; /*border: 1px solid #AAA;*/ /*z-index: 999;*/}
#main .pagination li.active a, .pagination li.active a:hover { background-color: #2F3238; }

/* Fim Paginação */

/* Fim correção #main */

/* Elementos */
#header{ background: transparent; }
#title-banner-img{ width: 100%; margin-top:25px; margin-bottom:35px; }
.navbar-collapse { overflow: visible !important; }
#main-menu nav, #account-menu, .media-item .thumbnail, .list-group-item img.thumbnail{ background: #26292E; border-radius: 0; margin: 0; border-color: #3C3F45;}
.main-menu>li>ul>li>a { padding-top: 5px; padding-bottom: 8px; }
.navbar-default .navbar-nav>li>a { color: #E6E6E6; min-height: 70px; padding-top: 25px;}
.navbar-default { border: 0; }

.menu-option { height: 50px; width: auto; display: inline-block; webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.menu-option:hover { background-color: #3C3F45; cursor: pointer;}
.menu-option .title { padding: 5px 0 0 10px !important; color: #E6E6E6; font-size: 14px;}
.menu-option .title:hover { text-decoration: none; }
.menu-option span.description { font-size: 10px; padding-left: 10px; color: #E6E6E6;}
.menu-option span.glyphicon { font-size: 34px; padding-top: 2px;}
.menu-option i { float: left; }
.menu-option div { float: left; webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.menu-option a:hover { text-decoration: none; text-decoration: none;}

.menu-description-container { max-height: 65px; }

.flash-background { background-color: #3C3F45; }

[id^=menu-item] { /*background-color: #26292E;*/ background-color: transparent; color: #E6E6E6; display: none; left: 50%; padding-top: 10px;}


#login-bar{ background: #FFF; font-size: 0.9em; padding: 8px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
#login-bar button{ width: 70px; }
#news-list .list-group, #certificates-list .list-group{ text-align: left; }
#news-list, #news-list a.list-group-item, .event div.thumbnail{ border-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }
#news-list img.thumbnail{ max-height: 80px; min-height: 70px;}
#account-cadastro, #account-login{ text-align: center; }
.nivo-directionNav a{ top: 80% !important; }

/* Paginação */
.pagination li.active a, .pagination li.active a:hover{ background-color: #e7e7e7; border-color: #BBB; color: #555 ; }
.pagination li a { color: #777; }
.pagination li a:hover{ color: #000; background-color: #AAA; border-color: #AAA;}


.search-btn-group li { cursor: pointer; }
.ajax-loader{ display: inline-block; width: 16px; height: 16px; background-image: url("../img/ajax-loader.gif"); background-repeat: no-repeat; }

.main-menu-admin{ position: fixed; z-index: 1; margin-right: 0; padding-right: 0; padding-left: 0; right: 0;}
#admin { margin-top: 65px; min-width: 800px}
#admin h1 { margin-top: 0;}

.google-maps iframe { width: 100% !important; }

/* Label */
.label-lg { font-size: 16px; }
.label-md { font-size: 14px; }
.label-sm { font-size: 12px; }
.label-xs { font-size: 10px; }

input[type=file] { display: initial; }

/* Eventos */

.row-events { background-color: #26292E; margin-left: -15px; margin-right: -15px; padding-top: 30px; padding-bottom: 30px;}
.row-events .row { background-color: #26292E !important; }

.event div.thumbnail{ background-color: #26292E; border: 0; margin-bottom: 0;}
.event div.thumbnail:hover{ background-color: #2F3238; }
#prev-events .event div.thumbnail:hover, #next-events .event div.thumbnail:hover{ background-color: #3C3F45; }
#prev-events .row, #next-events .row  { margin-bottom: 10px; }
.event div.thumbnail:hover h4, .event div.thumbnail:hover p{ color: #E6E6E6; }
.event div.thumbnail:hover .event-thumbnail{ border: 1px solid #3C3F45; }
.event div.thumbnail img { border: 0; }
/*a.fancybox span { padding: 3px; }
a.fancybox:hover span{ background-color: #CCC; border-radius: 15%;}*/
.event-thumbnail{ width: 80%; margin-top: 5px; border: 1px solid #2F3238; padding: 4px;}
.event-thumbnail:hover { border-color: #7F8289; }
.event-thumbnail:hover
.modal-title, .modal-body, .modal-footer { text-align: center; }
.event-link{ text-decoration: none !important; cursor: pointer; color: #E6E6E6;}
.thumbnail h4 { color: #DDD; text-transform: uppercase;}
.thumbnail p { color: #AAA; text-transform: uppercase;}
a.event-related-link{ padding: 2px; }
a.event-related-link:hover{ text-decoration: none; background: #FFF; border-radius: 5px;}
.events{ padding-top: 5px; }
.events { border-color: #3C3F45; padding-bottom: 15px;}

.event-long-description { color: #FFF; text-align: left; background: #2F3238; border: 1px solid #3C3F45; padding: 20px; margin-bottom: 10px;}
.event-long-description img { width: initial; }
.event-long-description ul { list-style-type: initial; }
.event-long-description a { color: #333; font-weight: bold;}
.event-long-description a:hover, .event-long-description a:focus { color: #000; }


/*.row-events .event:nth-child(1) { border-right: 1px solid #2F3238; }*/
.row-events .event:nth-child(2) { border-left: 1px solid #2F3238; border-right: 1px solid #2F3238; }
/*.row-events .event:nth-child(3) { border-left: 1px solid #2F3238; border-right: 1px solid #2F3238; }*/
.row-events .event:nth-child(4)  { border-left: 1px solid #2F3238; }


/* Correacao Glyphicon */
#account-register input.input-glyphicon, #account-login input.input-glyphicon, #contact-form input.input-glyphicon{ margin-top: 1px !important; margin-bottom: -1px !important; }
.left-inner-addon-group { position: relative; }
.left-inner-addon-group input { padding-left: 42px;}
.left-inner-addon-group i { position: absolute; padding: 9px 12px; pointer-events: none; display: block; padding-right: 10px; border-right: 1px solid #DDD;}
.has-feedback .form-control-feedback{ top: 0; }

/* Contato */
#contact-form button{ margin-top: 15px; }
#contact-form { border-radius: 5px; padding: 10px;}


/* Menu */
#main-menu li, #account-menu li { font-size: 1.1em; }
#main-menu li, #account-menu a { font-size: 1.1em; }
#main-menu li:hover, #account-menu li:hover{ background: #DDD; }
#main-menu a:hover, #account-menu a:hover{ color: #000; }
.navbar-text{ font-style: italic; font-weight: bold;}
.main-menu, .main-menu > li, .account-menu, .account-menu > li { float:none; display:inline-block; vertical-align: top; }


/* Banner home */
#banner-slider{ background: transparent; }
#banner-slider img{ width: 100% !important; }


/* Footer */
#footer{ border: 0; margin-bottom: 0; padding-top: 10px; background: #FFF; font-size: 12px; background-color: #26292E; color: #7F8289; text-transform: uppercase; text-align: left;}
#footer-info { text-align: center; }
#footer a{color: #AAA;}
#footer ul { list-style-type: circle; }
.utfpr-link { padding-top: 0px; width: 66px; margin-top: -1px; -webkit-transition: background-image 0.2s ease-in-out; transition: background-image 0.2s ease-in-out; }
.utfpr-link img{ width: 44px; height: 44px; }
.utfpr-link:hover img{ content: url("../../img/utfpr-hover.png"); }
.facebook-link{ width: 40px; height: 39px; background-image: none; background-repeat: no-repeat; margin-left: 5px;}
.facebook-link i { left: 0; position: absolute; margin-left: -1px; margin-top: -4px; }
.facebook-link:hover{ color: #254887; background-color: white; background-image: none;}
.youtube-link { width: 35px; height: 35px; background-image: none; background-repeat: no-repeat; margin-left: 15px; margin-top: 2px;}
.youtube-link i { left: 0; position: absolute; margin-left: -3px; margin-top: -6px; }
.youtube-link:hover{ color: #CB0A05; background-color: white; background-image: none;}
#footer-links{ border-right: 1px solid #3C3F45; }

/* (correção página de manutenção) */
#maintenance i { font-size: 3.45em; }
#maintenance .utfpr-link { margin-top: 3px; }
#maintenance a { display: inline-block; }

/* Modais */
.modal-header { border: 0; }
.modal-content { background-color: #26292E; }
.modal-body h2 { border: 0; }
.modal-content { box-shadow: 0 5px 15px rgba(150, 150, 150, 0.20); border-radius: 0;}
.modal-footer { border: 0; }
.close { color: #E6E6E6; }
.close:hover { opacity: .5; color: #E6E6E6;}

/* Notícias */
.older-news{ float:right; margin-top: 10px; margin-bottom: 10px;}
.navbar-toggle{ float: center; }
#news-list { padding-top: 20px; }
#news-list .list-group img.thumbnail, { width:100% !important; }
#news-list .list-group-item{ color: #7F8289; min-height: 105px; webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#news-list .list-group-item:hover{ background-color: #3C3F45; color: #E6E6E6;}
#news-list .list-group-item:hover h4 { color: #E6E6E6; }
#news-list .list-group-item h4 { color: #DDD; text-transform: uppercase;}
#news-list .list-group-item{ min-height: 140px; background-color: #26292E; border: 0; }
.news-item .news-content {text-align: justify;}
#news-list .list-group-item:nth-child(2) { border-top: 1px solid #3C3F45 !important; }
#news-list .list-group-item:nth-child(3) { border-top: 1px solid #3C3F45 !important; }


/* Fotos e vídeos */
a.fancybox:link { text-decoration: none; color: #E6E6E6; height: 50px;}
#media-thumbnail img{ margin-bottom: 0; }
#media-thumbnail a{ text-decoration: none; color: #AAA; font-size: 0.8em; font-weight: 100;}]
.media-item{ margin-bottom: 5px; }
.media-largeicons { cursor: pointer; color:#333; color: #AAA; webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.media-largeicons:hover{ background-color: #26292E; border-radius: 5%; color: #E6E6E6;}
.media-largeicons .glyphicon { font-size: 100px; padding-bottom: 10px; color: #AAA;}
.media-largeicons:hover .glyphicon{ font-size: 100px; padding-bottom: 10px; color: #E6E6E6;}
.media-largeicons-title { cursor: pointer; text-decoration: none; font-weight: bold; color: #AAA;}
.media-largeicons:hover .media-largeicons-title { color: #E7E7E7; }


 /* Login Bar */
#login-bar a{ display: none; }
#login-bar{ border: 1px solid #3C3F45; border-top: 0; right: 0; position: fixed; z-index: 7; background-color: #26292E; margin-right: 20px; color: #CCC; opacity: 0.8; padding-bottom: 0;}  
#login-bar:hover { padding-bottom: 10px; }
#login-bar:hover a{ display: inline; }
#login-bar:hover #menu-arrow-down { display: none; }
.logged-in { background-color: #2F3238;}

/* ACCOUNT */
#account-register .col-xs-3, #account-register .col-xs-4, #account-register .col-xs-5, #account-register .col-xs-6, #account-register .col-xs-7, #account-register .col-xs-9, #account-register .col-xs-10, #account-register .col-xs-12{ padding-bottom: 10px; }
#account-register span{ margin-bottom: 1px; }
.general-actions { margin-top: 10px; }

.account-icons { margin-top: 15px; margin-bottom: 15px; cursor: pointer; color:#333; color: #AAA; webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.account-icons:hover{ background-color: #26292E; border-radius: 5%; color: #E6E6E6; }
.account-icons .glyphicon { font-size: 70px; padding-bottom: 10px; color: #AAA; display: block; padding-top: 5px;}
.account-icons:hover .glyphicon{ font-size: 70px; padding-bottom: 10px; color: #E6E6E6;}
.account-icons-title { cursor: pointer; text-decoration: none; font-weight: bold; color: #AAA;}
.account-icons:hover .account-icons-title { color: #E6E6E6; }
.account-icons  a { text-decoration: none; }


/* Comentários do Facebook */
.fb-comments{ margin-top: 25px; }


/* Breadcrumbs */
.breadcrumb{ display:inline-block; }


/* PAINEL DO ADMIN */

.well-md { display: inline-block; }


/* Tabs área de eventos */


/* Há um bug no bootstrap quando são colocados glyphicons dentro de input-group-addons */
/* Algumas correções aqui */
form[action="/pi2/ProjetoIntegrador/pi2_integrador/admin/login"] span.input-group-addon{ top: 0;}
#contact-form span.input-group-addon{ padding-top: 11px; padding-bottom: 9px; }
#account-login span.glyphicon-envelope,
#account-login span.glyphicon-asterisk,
#account-register span.glyphicon-user,
#account-register span.glyphicon-phone-alt,
#account-register span.glyphicon-earphone { padding-top: 11px; padding-bottom: 9px; }
#account-register span.glyphicon-road {  padding-top: 11px; padding-bottom: 9px; top:0;}

/* Ícones de ajuda */
#help-cpf { float: right; top: -22px; left: -7px; color: #AAA;}

.btn.disabled {
    pointer-events: auto;
}

.symbol {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
}

.symbol-empty {
  background-color: #ccc;
}

.symbol-filled {
  background-color: black;
}

#average .rating-symbol{
	color: gold;
	text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
	letter-spacing: 4px;
}

.rating-symbol{
	font-size: 32px !important;
	text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
	letter-spacing: 4px;
	color: #CCC;
	webkit-transition: all .1s ease-in-out;	transition: all .1s ease-in-out;
}

#participant-rating .rating-symbol{
	cursor: pointer;
}

/* Success, warning, Danger e Info*/

.alert-success { color: #5cb85c; background-color: rgba(60, 118, 61, 0.2); border-radius: 0; border-color: #4cae4c;}
.alert-warning { color: #f0ad4e; background-color: rgba(138, 109, 59, 0.2); border-radius: 0; border-color: #eea236;}
.alert-danger { color: #d9534f; background-color: rgba(169, 68, 66, 0.05); border-radius: 0; border-color: #d43f3a;}
.alert-info { /*color: #3276b1;*/ color: #4f91c6; background-color: rgba(49, 112, 143, 0.125); border-radius: 0; border-color: #285e8e;}

.list-group-item { color: #E6E6E6; background-color: #2F3238; border-color: #3C3F45;}

.list-group-item-success { color: #5cb85c; background-color: rgba(60, 118, 61, 0.2); border-radius: 0 !important; border-color: #4cae4c; margin-top: 1px; margin-bottom: 1px;}

#show-certificate, #report {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 11pt "Arial";
    width: 21cm;
    min-height: 25cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#report table{ font-size: 12px; }
#report th { font-weight: 600; }
#report ul { text-align: left; }
#report-info { text-align: center; }


#show-certificate{
  /*Altura máxima - um pouco menor que o tamanho da folha A4 para a janela de impressão não exibir uma segunda folha em branco*/
    max-height: 29.1cm;
}

#show-certificate p {  color: #000;}

#certificate-top{
  text-align: left;
}

#show-certificate hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

#show-certificate img{
  width: 25%;
  vertical-align: top;
  float: left;
  margin-right: 15px;
}

#certificate-title, #report-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#certificate-content{
  font-size: 20px;
  text-align: center;
  line-height: 150%;
}

#certificate-bottom{
  font-size: 13px;
  text-align: center;
}




/* Calendario */


.custom-header h2 { background-color: #26292E; color: #E6E6E6; font-size: 18px; margin-top: 10px;}
/*.custom-header nav span.custom-prev:before, .custom-header nav span.custom-prev:after { content: none; };*/

.fc-calendar .fc-body { border: none; border-top: 1px solid #3C3F45; border-bottom: 1px solid #3C3F45;}
.fc-calendar .fc-row { border: none; height: 42px;}
.fc-calendar .fc-row > div { border: 1px solid #3C3F45; }

.fc-calendar .fc-body { height: auto; /* height: calc(100% - 127px); */ }

.fc-calendar .fc-row > div > span.fc-date { font-size: 16px;}

#calendar { border: 1px solid #3C3F45; border-top: 0; }

.fc-calendar .fc-row > div:last-child  { border: 1px solid #3C3F45; }

.loading-yellow {  }
.loading-yellow img { width: 30px; opacity: 0.9; }
.loading-yellow span { font-size: 10px; color: #E7E7E7;}


@media (max-width: 768px){
  h4 { font-size: 14px; }
  .fc-calendar .fc-row { height: 32px; }
  .fc-calendar .fc-row > div > span.fc-date { font-size: 14px; font-weight: normal;}

}